@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
// ROOT
:root{
    // COLORS   main #525058 https://mycolor.space/?hex=%23525058&sub=1
    --clr-hover:#C7FCEC;
    --clr-main:#E69C24;
    --clr-main-2:#c78925;
    --text-main:#fff;
    --text-secondary:#2D3339;


    --clr-icons-contact: var(--clr-main-2);
    // FONTS
    --font-nunito:'Nunito', sans-serif //weight - 300 400 500 600 700


}
ul li, a{
    text-decoration: none;
    list-style-type: none;
}




        // NAVBAR // 

nav .nav-item a{
    color: var(--text-main);
}
nav .nav-item a:hover{
    color: var(--clr-main);
}
.dropdown-menu a{
    color: var(--text-main);
}
.dropdown-menu li a:hover{
    color: var(--clr-main);
}
.dropdown-item:hover{
    background: #2b2e31;
}
.dropdown-toggle:enabled{
   color: var(--clr-main);
}
.navbar-nav{
    color: var(--clr-icons-contact);
}
// NAVBAR END



.home{
    background-image: url(./img/2023-Porsche-911-GT3-RS-10-848x506.jpg),linear-gradient(rgba(92, 91, 91, 0.486),rgba(255, 255, 255, 0.322));
    background-blend-mode:soft-light;

    background-size: cover;
    background-position: center center;
    position: relative;
}
//  HERO
.btn-primary{
    color: var(--text-main);
    background: var(--clr-main);
    border: 1px solid var(--clr-main-2);
    margin: .3rem;
}
.btn-primary:hover{
    color: var(--text-main);
    background: var(--clr-main-2);
    border: 1px solid var(--clr-main-2);
    box-shadow: -2px 10px 15px 4px rgb(32, 32, 32) ;   
}



//  CARDS
.karty > div{
    height: 100%;
}
.karty .card{
    background-blend-mode:soft-light;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.k1{
    background-image: url(./img/png-clipart-porsche-911-gt2-car-porsche-911-gt3-rs-996-gt-3-porsche-convertible-car.svg),linear-gradient(rgba(146, 143, 143, 0.863),rgba(255, 255, 255, 0.322));
}
.k2{
    background-image: url(./img/ecogolf.png),linear-gradient(rgba(146, 143, 143, 0.863),rgba(255, 255, 255, 0.322));
}
.k3{
    background-image: url(./img/20191130_144013-removebg-preview.png),linear-gradient(rgba(146, 143, 143, 0.863),rgba(255, 255, 255, 0.322));
}

.card-group > .btn-primary{
    color: var(--text-main);
    background: var(--clr-main);
    border: 1px solid var(--clr-main-2);
    margin: .3rem;
}


// newsletter

.newsletter-bg{
    background-color: var(--clr-main) ;
    // background-color: #ECA400;
}


.accordion-button:not(.collapsed) {
    color: var(--text-secondary);
    background-color: rgba(199, 137, 37, 0.247) ;
}
  
.accordion-button:focus {
    z-index: 3;
    box-shadow: 0 0 0 .25rem var(--clr-main-2) ;
  }


// .accordion-header:active{
//     background: #c78925;
// }


//  MODAL
p {
    color: var(--text-secondary);
}



// CONTACT //
#contact h2{
    color: aliceblue;
    font-size: 1.5rem;
}
#contact h5{
    color: aliceblue;
    font-size: .8rem;
}
#contact a{
    color: white;
    text-decoration: none;
}
#contact p{
    color: white;
}
#contact ul{
    padding: 0;
}
#contact i{
   color: var(--clr-icons-contact);
}
footer{
    color: var(--clr-icons-contact);
    font-size: .8rem;
}
footer>div>a, .fa-circle-up{
    color: var(--clr-hover);
}
footer>div>a:hover, .fa-circle-up:hover{
    color: var(--clr-main);
}



